python-dotenv
djangorestframework

djlint

Django
django-crispy-forms
django-filter
django-tables2
django-bootstrap5
django-select2

requests
dnspython

gunicorn
SQLAlchemy
psycopg2-binary
pymongo[snappy,gssapi]
